.rating-list {
	
	&__header {

		.label {
			margin-top: 6px;
		}

		.header-value {
			padding: 0px;

			span {
				color: color($color-admlte, orange, base);
				font-size: 2.4em;
			}	
		}

		.header-identity {
			margin-top: 3px;
		}
	}

	&__content {

		blockquote {
			border-left: 5px solid color($color-admlte, gray, base);
			margin: 0px;

			p {
				margin-left: 9px;
				color: color($color-admlte, black, base);
				font-size: 1.2em;
			}

			small {
				margin-left: 9px;
				color: color($color-admlte, black, light);
				font-style: italic;
				font-size: 0.8em;	
			}
		}
		
	}
}

.rating-fab {
	position: fixed !important;
	bottom: 75px !important;
}

