.rating-list {
	
	&__avatar {

	}

	&__content {

		.content {

			&-text {
				color: color($color-admlte, black, base);
			}

			&-value {

				span:first-child {
					font-size: 2.5em;
					font-weight: 500;
					text-align: center;
					color: color($color-admlte, orange, base);	
				}

				span:last-child {
					color: color($color-admlte, gray, dark);
					font-size: 0.8em
				}
				
			}
		}
	}

	&__bank {

	}
}

.rating-fab {
	position: fixed !important;
	bottom: 75px !important;
}

