<div id="rating-list">

	<ion-card *ngFor="let item of listItem" class="rating-list" cache-view="false">
		<ion-item class="rating-list__header">
			<ion-row>
				<ion-col col-1 class="header-value">
					<span>{{item.value}}</span>
				</ion-col>
				<ion-col col-11 class="header-identity">
					<h3 class="header-identity__name">{{item.bank.name}}</h3>
					<p class="header-identity__createdat">{{item.createdAtFormatted}}</p>
				</ion-col>	
			</ion-row>
		</ion-item>

	  	<ion-card-content class="rating-list__content">
	  		<blockquote>
	  			<p>&ldquo;{{item.text}}&rdquo;</p>
	  			<small>&ndash;&nbsp;{{item.name || 'Anonymous'}}</small>
	  		</blockquote>
	  	</ion-card-content>
	</ion-card>
	
</div>
