<div id="rating-list">

	<ion-card *ngFor="let item of listItem" class="rating-list" cache-view="false">
		<ion-item class="rating-list__header">
			<ion-row>
				<ion-col col-1 class="header-value">
					<span>{{item.value}}</span>
				</ion-col>
				<ion-col col-11 class="header-identity">
					<h3 class="header-identity__name">{{item.name || 'Anonymous'}}</h3>
					<p class="header-identity__createdat">{{item.createdAtFormatted}}</p>
				</ion-col>	
			</ion-row>
		</ion-item>

	  	<ion-card-content class="rating-list__content">
	  		<blockquote>
	  			<p>&ldquo;{{item.text}}&rdquo;</p>
	  			<small>&ndash;{{item.bank.name}}</small>
	  		</blockquote>
	  	</ion-card-content>
	</ion-card>

	<ion-fab bottom right (click)="navPage('rating-form')" class="rating-fab">
		<button ion-fab mini>
			<ion-icon name="add"></ion-icon>
		</button>
	</ion-fab>

</div>