page-contact {

}

.employee-list__item {
	.item-content {

		&__name {
			color: color($color-admlte, green, base);
		}

		&__department {
			font-weight: 600;
		}
	}

	.options {
		
		&-call {
			background-color: color($color-admlte, green, base);
			width: 60px;
			font-size: 1.5em;
			padding-top: 12px;

			&:hover {
				background-color: color($color-admlte, green, dark);
			}
		}

		&-mail {
			background-color: color($color-admlte, blue, light);
			width: 60px;
			font-size: 1.5em;
			padding-top: 12px;

			&:hover {
				background-color: color($color-admlte, blue, dark);
			}
		}
	}
}